<div class="panel panel-default">
  <div class="panel-heading">
    <%= render partial: 'editable/text', locals: { phrase: phrase_heading } %>
  </div>
  <div class="panel-body">
    <%= render partial: 'editable/text', locals: { phrase: phrase_body } %>
  </div>
</div>
