<h1>Proof of Concept Demo</h1>

<h2>Embed Video</h2>

<h2>List Products</h2>

<h2>List Collections</h2>

<h2>List Collections</h2>

<h2>Search Demo</h2>

<h2>Duration Filter demo</h2>

<h2>List specific Type of Collections</h2>