<div class='three-panels'>
  <div class='col-md-4'>
    <%= render partial: 'editable/panel', locals: {
      phrase_heading: "home/panel/what_is_leadership/heading",
      phrase_body: "home/panel/what_is_leadership/body",
      footer_text: "Read More",
      footer_source: about_path,
    } %>
  </div>
  <div class='col-md-4'>
    <%= render partial: 'editable/panel', locals: {
      phrase_heading: "home/panel/what_you_get/heading",
      phrase_body: "home/panel/what_you_get/body",
      footer_text: "Read More",
      footer_source: what_you_get_path,
    } %>
  </div>
  <div class='col-md-4'>
    <%= render partial: 'editable/panel', locals: {
      phrase_heading: "home/panel/owner/heading",
      phrase_body: "quill/home/panel/owner/body",
      footer_text: "Read More",
      footer_source: about_path,
    } %>
  </div>
</div>

<script>

</script>