<p>
  Thank you for signing up with us.
</p>
<br>
<p>
  You are now subscribed to our mailing list.
</p>
<%= link_to "CLOSE", '#', class: 'close_newsletter_modal' %>


<%# Include the require script %>
