<% partial_path = "pages/#{@page_name}" %>

<% content_for :page_header, @title %>
<% breadcrumb @breadcrumb %>

<% FacebookPost.all.each do |fb_post| %>
  <div style='display: table; margin: 0 auto;'>
    <%= render partial: 'facebook_posts/post', locals: {fb_post: fb_post} %>
  </div>
<% end %>
