<% partial_path = "pages/#{@page_name}" %>

<% content_for :page_header, @title %>
<% breadcrumb @breadcrumb %>

<div class='row'>
  <div class='col-md-6'>
    <div id='message-form'>
      <p>Discover what's in it for you...</p>
      <%= render partial: 'messages/form' %>
    </div>
  </div>
  <div class='col-md-6'>
    <%= render partial: "editable/quill", locals: { phrase: "quill/#{partial_path}/col/right/upper" } %>
    <%= render partial: 'pages/contact/map' %>
    <%= render partial: "editable/quill", locals: { phrase: "quill/#{partial_path}/col/right/lower" } %>
  </div>
</div>