<% partial_path = "pages/#{@page_name}" %>

<% content_for :page_header, @title %>
<% breadcrumb @breadcrumb %>

<%= render partial: "editable/quill", locals: { phrase: "quill/#{partial_path}/top" } %>

<ul class='sitemap-list'>
  <% PagesController::PAGE_PATHS_HASH.each do |key, data| %>
    <li><%= link_to data[:title], polymorphic_path(key) %></li>
  <% end %>
</ul>