<% partial_path = "pages/whatyouget" %>
<div class="page-header">
  <h1>Whhat you get</h1>
</div>

<div class='row'>
  <div class='col-md-6'>
    <%= render partial: "editable/quill", locals: { phrase: "quill/#{partial_path}/col/left" } %>
  </div>
  <div class='col-md-6'>
    <%= render partial: "editable/quill", locals: { phrase: "quill/#{partial_path}/col/right" } %>
  </div>
</div>