<!-- Modal -->
<div class="modal fade" id="<%= modal_id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <%= render partial: "newsletter/signup/#{body_partial}" %>
      </div>
    </div>
  </div>
</div>